<div class="all">
    <div class="user">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group col-md-6">
                    <label for="firstName">FirstName</label>
                    <input type="text" class="form-control" id="firstName" placeholder="FirstName">
                </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="linkedin">Linkedin</label>
                    <input type="text" class="form-control" id="linkedin" placeholder="Linkedin">
                </div>
            <div class="form-group col-md-6">
                <label for="github">Github</label>
                <input type="text" class="form-control" id="github" placeholder="Github">
            </div>
            </div>
            <div class="form-group">
                <label for="resume">Résumé</label>
                <textarea class="form-control" id="resume" rows="3" placeholder="Résumé"></textarea>
            </div>
            <div class="form-group">
                <label for="techskill">Techskill</label>
                <textarea class="form-control" id="techskill" rows="2" placeholder="Techskill"></textarea>
            </div>
            <div class="form-group">
                <label for="language">Language</label>
                <input type="language" class="form-control" id="language"  placeholder="Language">
            </div>
            <div class="form-group">
                <label for="softskill">Softskill</label>
                <textarea class="form-control" id="softskill" rows="2" placeholder="Softskill"></textarea>
            </div>
            <div class="form-group">
                <label for="photo">Photo</label>
                <input type="file" class="form-control-file" id="photo">
            </div>
            <button type="submit" class="btn btn-primary" placeholder="Linkedin">Sign in</button>
        </form>
    </div>
    <div class="coll" >
        <div class="trainings">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="school">School</label>
                        <input type="text" class="form-control" id="school" placeholder="School">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" placeholder="Linkedin">Sign in</button>
            </form>
        </div>
        <div class="project">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="image">Image</label>
                        <input type="file" class="form-control-file" id="image">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="link">Link</label>
                        <input type="text" class="form-control" id="link" placeholder="link">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="Description">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" placeholder="Linkedin">Sign in</button>
            </form>
        </div>
        <div class="proExperience">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="jobTitle">Job Title</label>
                        <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="startDate">Start Date</label>
                        <input type="text" class="form-control" id="startDate" placeholder="Start Date">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="end_date">End date</label>
                        <input type="text" class="form-control" id="end_date" placeholder="End date">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="company">Company</label>
                        <input type="text" class="form-control" id="company" placeholder="Company">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" rows="2" placeholder="Description"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" placeholder="Linkedin">Sign in</button>
            </form>
        </div>
    </div>
</div>