<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div class="all">
    <div class="content">
      <div class="content__container">
        <p class="content__container__text">
          Clément SICHÉ
        </p>
        
        <ul class="content__container__list">
          <li class="content__container__list__item">Web développeur</li>
          <li class="content__container__list__item">Angular 8</li>
          <li class="content__container__list__item">NodeJS</li>
        </ul>
      </div>
    </div>
</div>